{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}orderstep_3.title{% endtrans %} {% endblock %}



{% block body %}

    <div class="card offset-3 col-lg-6 offset-3 mt-5" id="orderElt">
        <div class="card-body">
            <h3 class="text-center">{% trans %}orderstep_3.title1{% endtrans %}</h3>
            <p class="text-center mt-2">{% trans %}orderstep_3.paragrah1{% endtrans %} {{ booking.visitDate|date("m/d/Y", "Europe/Paris") }}</p>

               <table class="table">
                   <thead>
                    <tr>
                        <th>{% trans %}orderstep_3.labelName{% endtrans %}</th>
                        <th>{% trans %}orderstep_3.labelFirstName{% endtrans %}</th>
                        <th class="text-center">{% trans %}orderstep_3.labelTicketPrice{% endtrans %}</th>
                    </tr>
                   </thead>
                   <tbody>
                   {% for ticket in booking.tickets %}
                    <tr>
                        <td>{{ ticket.name }}</td>
                        <td>{{ ticket.firstName }}</td>
                        <th class="text-center">{{ ticket.price }}</th>
                    </tr>
                   {% endfor %}
                   </tbody>
               </table>

            <p class="text-center mt-4">{% trans %}orderstep_3.labelTotalPrice{% endtrans %}</p>
            <p class="text-center">{{ booking.totalPrice }},00 €</p>

        </div>
    </div>
    <form action="" method="POST" class="text-center mt-3 mb-5">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ stripe_public_key }}"
                data-amount='{{ booking.totalPrice * 100}} '
                data-name="Billeterie du Louvre "
                data-description="Commande de  {{ booking.tickets|length }} billets"
                data-image="{{ asset('img/louvrecover.jpg') }}"
                data-locale="{{ app.request.locale }}"
                data-email="{{ booking.email }}"
                data-label="{% trans %}orderstep_3.PaiementButton{% endtrans %}"
                data-currency="eur">

        </script>
    </form>


{% endblock body %}