{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}orderstep_4.title{% endtrans %}{% endblock %}

{% block body %}

    <div id="thks"</div>
    <h2 class="text-center">{% trans %}orderstep_4.title1{% endtrans %}</h2><br>

    <div class="offset-lg-2 col-lg-8 offset-lg-2">
        <div class="card  text-center" id="encart1">
            <div class="card-body">
                <p>{% trans %}orderstep_4.paragraph1{% endtrans %}{{ booking.reference|upper }} {% trans %}orderstep_4.paragraph2{% endtrans %}</p>
               <p>{{ booking.email }}</p>
                <a id="btnElt" class="btn btn-secondary offset-lg-8" href="{{ path('homepage') }}">{% trans %}orderstep_4.link1{% endtrans %}</a><br>
                <hr width="50%"><br><br>
                <p>{% trans %}orderstep_4.paragraph3{% endtrans %}</p>
                <p>{% trans %}orderstep_4.paragraph4{% endtrans %}</p>
                <br>
                <a id="btnElt" class="btn btn-secondary offset-lg-8" href="{{ path('homepage') }}">{% trans %}orderstep_4.link2{% endtrans %}</a>

            </div>
        </div>
    </div>
    <div id="thks"</div>


{% endblock body %}