{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Accueil {% endblock %}


{% block body %}

<div class="body">
        <!-- Presentation text and cover image -->

        <img src="{{ asset('img/louvrecover.jpg') }}" width="100%">


        <div class="row">
            <div class="offset-lg-2 col-lg-8 offset-lg-2 mt-1"><h1 id="title" class="text-center">Le Musée du Louvre</h1></div>
        </div>

    <hr width="50%">

    <div class="row">
        <div class="offset-lg-2 col-lg-8 offset-lg-2 mt-1">
            <p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nullam iaculis pharetra porttitor.
                Nulla facilisi. Sed a diam ut nisi fermentum volutpat ac nec nisl. In dictum consectetur orci nec
                sagittis.
                Pellentesque vulputate, ipsum et rutrum cursus, leo odio vulputate quam, sit amet sollicitudin nunc
                turpis vitae leo.</p>

            <p>Phasellus ex erat, elementum malesuada euismod
                vel, tincidunt sed mi. Vivamus dapibus ac est laoreet scelerisque. Maecenas imperdiet augue quis mi
                tempor, eget venenatis dolor ultricies.
                Vivamus eget tincidunt ex. Ut quis tortor a tellus viverra sagittis id vel ipsum. Morbi commodo
                vehicula mauris id laoreet.
                Aenean pretium dolor quis erat pretium, vel porta ante tristique. Sed sollicitudin volutpat nisl
                quis rhoncus. Cras porttitor, ex eu pharetra placerat,
                lectus urna sodales enim, maximus sollicitudin libero nibh eget lorem. </p>

            <p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nullam iaculis pharetra porttitor.
                Nulla facilisi. Sed a diam ut nisi fermentum volutpat ac nec nisl. In dictum consectetur orci nec
                sagittis.
                Pellentesque vulputate, ipsum et rutrum cursus, leo odio vulputate quam, sit amet sollicitudin nunc
                turpis vitae leo.
            </p><br><br>
        </div>

    </div>

    <!-- Booking card  -->
    <div class="row">
        <div id="cardElt" class="card offset-lg-2 col-lg-8 offset-lg-2">
            <div class="card-body text-center">
                <span id="bookingElt">Réserver directement vos billets en ligne </span>
                <a id="btnElt" class="btn btn-secondary" href="{{ path('order_step_1') }}">Billeterie</a>
            </div>
        </div>

    </div><br><br>



    <!-- Cards -->


        <div class="offset-lg-1 col-lg-10 offset-lg-1">
            <div class="card-deck offset-lg-1">
                <div id="cardElt" class="card">
                    <img class="card-img-top" src="{{ asset('img/cardimage3.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Actualités</h5>
                        <p class="card-text">Nam aliquam ultrices lectus, nec mattis quam dapibus in. Nulla faucibus,
                            quam sit amet pretium auctor,
                            risus massa ultrices nisi, sed faucibus nulla ligula eget lectus.
                            Praesent id nibh ullamcorper, condimentum nulla eget, auctor dui.
                            In euismod enim et erat porttitor volutpat.
                            Suspendisse potenti. Cras at tempor metus. Morbi in semper sapien, in mattis sem.</p>
                        <a id="btnElt2" class="btn btn-secondary offset-lg-8">En savoir plus</a>
                    </div>
                </div>
                <div id="cardElt" class="card">
                    <img class="card-img-top" src="{{ asset('img/cardimage1.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Oeuvres</h5>
                        <p class="card-text">Nam aliquam ultrices lectus, nec mattis quam dapibus in. Nulla faucibus,
                            quam sit amet pretium auctor,
                            risus massa ultrices nisi, sed faucibus nulla ligula eget lectus.
                            Praesent id nibh ullamcorper, condimentum nulla eget, auctor dui.
                            In euismod enim et erat porttitor volutpat.
                            Suspendisse potenti. Cras at tempor metus. Morbi in semper sapien, in mattis sem.</p>

                        <a id="btnElt2" class="btn btn-secondary offset-lg-8">En savoir plus</a>
                    </div>
                </div>
                <div id="cardElt" class="card">
                    <img class="card-img-top" src="{{ asset('img/cardimage5.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Le Palais</h5>
                        <p class="card-text">Nam aliquam ultrices lectus, nec mattis quam dapibus in. Nulla faucibus,
                            quam sit amet pretium auctor,
                            risus massa ultrices nisi, sed faucibus nulla ligula eget lectus.
                            Praesent id nibh ullamcorper, condimentum nulla eget, auctor dui.
                            In euismod enim et erat porttitor volutpat.
                            Suspendisse potenti. Cras at tempor metus. Morbi in semper sapien, in mattis sem.</p>
                        <a id="btnElt2" class="btn btn-secondary offset-lg-8">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div><br><br>



</div>


{% endblock %}
