{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {% trans %}homepage.title{% endtrans %}{% endblock %}


{% block body %}

<div class="body">

        <!-- Presentation text and cover image -->

        <img src="{{ asset('img/louvrecover.jpg') }}" class="img-fluid" style="margin-top:-23px">

    <div class="container-fluid">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 offset-lg-2 mt-1"><h1 id="title" class="text-center">{% trans %}homepage.title1{% endtrans %}</h1></div>
        </div>

    <hr width="50%">

    <div class="row">
        <div class="offset-lg-2 col-lg-8 offset-lg-2 col-12 mt-1">
            <p>{% trans %}homepage.paragraph1{% endtrans %}</p>

            <p>{% trans %}homepage.paragraph2{% endtrans %}</p>

            <p>{% trans %}homepage.paragraph3{% endtrans %}</p>
            <br><br>
        </div>

    </div>

    <!-- Booking card  -->
    <div class="row">
        <div id="cardElt" class="card offset-lg-2 col-lg-8 offset-lg-2">
            <div class="card-body text-center">
                <span id="bookingElt">{%trans %}homepage.banner{% endtrans %}</span>
                <a id="btnElt" class="btn btn-secondary" href="{{ path('order_step_1') }}"> {%trans %}homepage.link1{% endtrans %}</a>
            </div>
        </div>

    </div><br><br>

    <!-- Cards -->
        <div class="offset-lg-1 col-lg-10 offset-lg-1">
            <div class="card-deck offset-lg-1">
                <div id="cardElt" class="card">
                    <img class="card-img-top" src="{{ asset('img/cardimage3.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{%trans %}homepage.cardTitle1{% endtrans %} </h5>
                        <p class="card-text">{% trans %}homepage.cardContent1{% endtrans %}</p>
                        <a id="btnElt2" class="btn btn-secondary offset-lg-8">{% trans %}homepage.button.knowMore{% endtrans %}</a>
                    </div>
                </div>
                <div id="cardElt" class="card">
                    <img class="card-img-top" src="{{ asset('img/cardimage1.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{%trans %}homepage.cardTitle2{% endtrans %} </h5>
                        <p class="card-text">{% trans %}homepage.cardContent2{% endtrans %}</p>

                        <a id="btnElt2" class="btn btn-secondary offset-lg-8">{% trans %}homepage.button.knowMore{% endtrans %}</a>
                    </div>
                </div>
                <div id="cardElt" class="card">
                    <img class="card-img-top" src="{{ asset('img/cardimage5.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{%trans %}homepage.cardTitle3{% endtrans %} </h5>
                        <p class="card-text">{% trans %}homepage.cardContent3{% endtrans %}</p>
                        <a id="btnElt2" class="btn btn-secondary offset-lg-8">{% trans %}homepage.button.knowMore{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div><br><br>





</div>
</div>


{% endblock %}
