{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {% trans %}orderstep_2.title{% endtrans %}  {% endblock %}


{% block body %}


    <div class="offset-lg-2 col-lg-8 col-lg-2 mt-3 text-center">
        <p>{% trans %}orderstep_2.paragrah1{% endtrans %}</p>
        <p>{% trans %}orderstep_2.paragrah2{% endtrans %} </p>
        <p>{% trans %}orderstep_2.paragrah3{% endtrans %} </p>
        <p>{% trans %}orderstep_2.paragrah4{% endtrans %} </p><br>
        <p>{% trans %}orderstep_2.paragraph5{% endtrans %} </p>
    </div>

    <hr width="50%"><br>

    <div class="form offset-lg-1 col-lg-10 offset-lg-1">
    {{ form_start(form) }}
    {% for ticket in form.tickets %}
        <div class="card offset-lg-3 col-lg-6 offset-lg-3" id="orderElt">
            <div class="card-body">
                <div id="form_booking">
                    <div class="form-group">
                        {{ form_label(ticket.name, "orderstep_2.action.choiceName") }}
                        {{ form_widget(ticket.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(ticket.firstName, "orderstep_2.action.choiceFirstName") }}
                        {{ form_widget(ticket.firstName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(ticket.birthDate, "orderstep_2.action.choiceBirthdate") }}
                        {{ form_widget(ticket.birthDate, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(ticket.country, "orderstep_2.action.choiceCountry") }}
                        {{ form_widget(ticket.country, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="text-center">
                        {{ form_row(ticket.reducedPrice, { label:"orderstep_2.action.reduceprice"|trans }) }}
                        <p>{% trans %}orderstep_2.paragraph6{% endtrans %} </p>
                    </div>

                </div>
            </div>
        </div><br><br>
    {% endfor %}
        <input type="submit" value="Réserver" class="btn btnEltform">
    {{ form_end(form) }}
    </div><br>


{% endblock body %}