{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {% trans %} orderstep_1.title {% endtrans %}  {% endblock %}


{% block body %}

    <div class="offset-lg-2 mt-3">
        <p>{% trans %}orderstep_1.paragrah1{% endtrans %} </p>
        <p>{% trans %}orderstep_1.paragraph2{% endtrans %} </p>
        <ul>
            <li>{% trans %}orderstep_1.listItem1{% endtrans %} </li>
            <li> {% trans %}orderstep_1.listItem2{% endtrans %} </li>
            <li>{% trans %}orderstep_1.listItem3{% endtrans %} </li>
        </ul>

        <p>{% trans %}orderstep_1.paragraph3{% endtrans %} </p><br>
    </div>

    <div class="card offset-lg-3 col-lg-6 offset-lg-3" id="orderElt">
        <div class="card-body" style="background-color:">
            <div class="form offset-lg-1 col-lg-10 offset-lg-1">
                {{ form_start(form) }}
                <div id="form_booking">
                    <div>
                        {{ form_row(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.visitDate, "orderstep_1.action.choiceVisitDate"|trans) }}
                        {{ form_widget(form.visitDate, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div><br>

                        <p class="text-center">{% trans %}orderstep_1.paragraph4{% endtrans %} </p>
                        <p class="text-center">{% trans %}orderstep_1.paragraph5{% endtrans %} </p>
                    </div><br>
                    <hr>

                    <div class="form-group text-center">

                        {{ form_label(form.type, "orderstep_1.action.choiceTicketType"|trans) }}
                        {{ form_widget(form.type, {'attr': {'class': 'browser-default'}}) }}
                    </div>
                    <hr><br>
                    <p class="text-center">{% trans %}orderstep_1.paragraph6{% endtrans %} </p>
                    <div class="form-group text-center">

                        {{ form_label(form.numberOfTickets, "orderstep_1.action.choiceNumberOfTicket"|trans) }}
                        {{ form_widget(form.numberOfTickets, {'attr': {'class': 'browser-default'}}) }}
                    </div>

                    <div class="form-group text-center">

                        {{ form_label(form.save, "orderstep_1.action.order"|trans) }}
                        {{ form_widget(form.save, {'attr': {'class': 'btnEltform'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div><br>




{% endblock body %}